<!-- home.html -->
<div class="jumbotron text-center">
	<div class="container">
		<div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div style="width:100%;">
                <img src="media/headshotGM.jpg" style="max-width: 400px; width:100%;">
                </div>
            </div>
            <div class="col-md-5">
                <div style="width:100%;">
    	            <h1>Gregory Mihalik </h1>
                    <h3>Masters of Biomedical Informatics</h3>
                    <h4>Rutgers, The State University of New Jersey</h4>
                </div>
                <br>
                <img src="https://d13yacurqjgara.cloudfront.net/users/2156/screenshots/988487/slice_1_1x.png" width="25%">
                <h2>Ruby Developer</h2>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
    <br>
    <br>
    <div class="jumbotron text-center" style="background-color:rgb(231,76,60);">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align:left;">
            <ul style="list-style-type: none; line-height:100%;">
                <li>
                    <h2>My name is Gregory Mihalik and I am:</h2>
                </li>
                <ul type="square">
                    <li>a graduate of Rutgers, The State University of New Jersey 
                with a Masters degree in Biomedical Informatics</li><br>
                    <li>currently a full-time Bioinformatician at 
                Bio-Reference Laboratories in the Bioinformatics Department</li><br>
                    <li>a developer working on company wide Laboratory Information
                    Management Systems (LIMS) </li><br>
                    <li>a Ruby and Ruby on Rails focused web developer
                    <ul type="circle"><li>
                    but rule #1 is "the right tool [programming language] 
                    for the right job."</li></ul>
                    </li>
                </ul>
            </ul>
            <br>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>