   <div class="navbar-wrapper">
      <div class="container">
      
    <div class="container marketing">
    <div class="jumbotron" style="background:rgba(231,76,60, 0.9); padding-top:5px;
    padding-bottom:5px;">
      <div class="row featurette" style="opacity:1.0;">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <img class="img-circle" src="http://tyrannyoftradition.files.wordpress.com/2014/02/93434191-einstein-tongue_custom-36fb0ce35776dc2d92eda90880022bf48a67e192-s6-c30.jpg" alt="Generic placeholder image" style="width: 125px; height: 125px;">
        </div>
        <div class="col-md-8">
          <blockquote style="margin:20px;"><p>"Imagination is more important than knowledge."</p>
          <p><b><small style="color:white;">Albert Einstein</small></b></p></blockquote>
        </div>
      </div>
    </div>
    </div>

      <!-- START THE FEATURETTES -->
      <h1>Web Development</h1>
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-4">
          <a href="https://github.com/gmihalik/resume-website" target="_blank"><img class="featurette-image img-responsive" src="media/codingView.png" alt="Coding View!"></a>
          <h2 class="featurette-heading"><a href="www.gregorymihalik.com">www.gregorymihalik.com</a></h2> <h3><span class="text-muted">HTML5 / AngularJS / Bootstrap</span></h3>
          <p class="lead">Check out the code behind this website.</p>
        </div>
        <div class="col-md-4">
          <a href="https://github.com/gmihalik/indeedlyrb" target="_blank"><img class="featurette-image img-responsive" src="media/rbcodingView.png" alt="Coding View!"></a>
          <h2 class="featurette-heading"><a href="https://github.com/gmihalik/indeedlyrb">IndeedlyRB</a></h2> <h3><span class="text-muted">HTML5 / Sinatra / Ruby / Bootstrap</span></h3>
          <p class="lead">The code behind an indeed clone written in Ruby.</p>
          </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="http://www.sports-logos-screensavers.com/user/Rutgers_Scarlet_Knights.jpg" alt="Generic placeholder image">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          
        </div>
      </div>

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
<br>
<br>