<div class="row featurette" style="opacity:1.0;">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-right: 30px; padding-left: 30px;">
        <h2 class="featurette-heading">Publications</h2>
        <p>CG Reich, <strong>GR Mihalik</strong>, AN Iskander, JC Seckler, MS Weiss. “Adolescent chronic mild stress alters hippocampal CB1 receptor-mediated excitatory neurotransmission and plasticity” Neuroscience. 2013 Sep 13. pii: S0306-4522(13)00762-8. 
        <a href= "http://www.ncbi.nlm.nih.gov/pubmed/?term=mihalik+gr">doi: 10.1016/j.neuroscience.2013.08.066.</a></p>
        <hr>
        
        <h2 class="featurette-heading">Abstracts</h2>
        <p>A Leon, D Dias-santagata, JM Marino, KD Moreno, R Obrera, <strong>GR Mihalik</strong>, Y Kemel, DR Borger, LP Le, AJ Lafrate, J Weisberger. “Tumor Profiling: A Clinical Approach for Personalized Medicine” (2013)</p>
        <hr>
        <p>A Leon, DW Sevilla, JM Marino, KD Moreno, R Obrera, <strong>GR Mihalik</strong>, Y Kemel, P Lee, L Feldman, L Alexa, C Villamil, Y Shevchenko, J Weisberger. “Array Comparative Genomic Hybridization: a First Tier Clinical Diagnostic Test for the Genomic Profiling and Prognosis of Lymphoid and Plasma Cells Neoplasms” (2013)</p>
        <hr>
        <p>W Levine, <strong>GR Mihalik</strong>, K Manz, CG Reich. “Effects of Chronic Social Defeat on Hippocampal-Dependent Fear Conditioning in Adolescent Rats” (2011) Hunter College, New York. N.E.U.R.O.N</p>
        <hr>
        <p>MS Weiss, A Iskander, <strong>GR Mihalik</strong>, C Siochi, A Swanson, S Meilands, CG Reich. “Chronic Stress Regulation of the Endocannabinoid System: Effects on Hippocampal Synaptic Physiology” (2010) San Diego, CA. Society for Neuroscience. Hunter College, New York, NY. N.E.U.R.O.N</p>
        <hr>
        <p>MS Weiss, A Iskander, <strong>GR Mihalik</strong>, C Siochi, A Swanson, S Meilands, CG Reich. “Effects of Chronic Mild Stress on Trace and Contextual Fear Conditioning in Male and Female Rats” (2010) Hunter College, New York, NY. N.E.U.R.O.N. Chicago, IL, Society for Neuroscience</p>
        <hr>
        <p>MS Weiss, A Iskander, <strong>GR Mihalik</strong>, A Swanson, CG Reich. “Effects of Stress on Conditioned Taste Aversion” (2010) Mahwah, NJ. Ramapo College Psychology Symposium</p>
    </div>
    <div class="col-md-3"></div>
</div>

<br>
<br>
<br>