<h3>January 2013 - Present</h3>
<h4>University of Medicine and Dentistry of New Jersey, Newark, NJ   
<br>Biomedical Informatics Department <br>Computational Docking, Protein Structure Analysis</h4>
<p>
<ul>
    <li>Performing protein-ligand docking and protein structural analysis study</li>
    <li>Preparation of Focal Adhesion Kinase, FAK, protein structure PDB files for docking analysis using UCSD Chimera</li>
    <li>Compilation of chemical database for analysis using NCI Chemical Data-bank</li>
    <li>Computational Docking of FAK Inhibitors to Ameliorate the Effects of FAK – VEGFR-3 Protein – Protein Interaction as a Possible Cancer Therapy</li>
    <li>Implementation of UCSF DOCK for the computational docking of chemical database against FAK - VEGFR-3 binding pocket</li>
</ul>
</p>


<h3>June 2010 – June 2011</h3>
<h4>Ramapo College of New Jersey, Mahwah, NJ Psychology (Neuroscience) Department
<br>In Vivo Electrophysiology, Hippocampus recordings</h4>
<p>
<ul>
    <li>Organized and performed chronic mild unpredictable stress protocol on 18 – 24 animals per cycle for 3 cycles</li>    
    <li>Performed regular care and maintenance for animals and cage room</li>
    <li>Preparation of artificial cerebral spinal fluid and other experiment pharmaceutical solutions</li>
    <li>Performed dissection, extraction, and preparation of hippocampus slices</li>
    <li>Conducted electrophysiology experiments recording field populations of neural responses under normal and various pharmacological conditions</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</p>